.footer {
    height: 55px;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid black;
    overflow: hidden;
    z-index: 100;
}

.windows-explore {
    height: 100%;
    width: 100px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    cursor: pointer;
    padding-top: 1px;
}

.windows-explore:hover {
    background-color:grey; 
}

.logo {
    height: 50px;
    width: 50px;
}

.start-p {
    padding-right: 30%;
    padding-left: 20%;
    font-size: 25px;
    font-weight: 400;
    color: black;
}