.startwindow-container {
    height: 500px;
    width: 300px;
    background-color: rgb(187, 187, 187);;
    position: absolute;
    bottom: 6.1%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    opacity: 92%;
    z-index: 20;
 
}