.project-window-container {
    height: 700px;
    width: 1200px;
    background: gainsboro;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    z-index: 3;
    top: 10%;
    right: 17%;
}

.project-header {
    height: 30px;
    width: 100%;
    background-color: rgb(114, 114, 114);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.close-project {
    width: 35px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-project:hover {
    background-color: red;
}