p {
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/* IS THE CONTAINER FOR THE WHOLE WORKING SCREEN */ 
.main {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 12, 34);
  background-size: cover;
  position: relative;
}

.loading {
  margin: 0;
  color: ghostwhite;
  font-size: 26px;
}

.loading-screen {
  display: flex;
  height: 100%;
  position: relative;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  width: 250px;
  height: 25px;
  background-color: white;
  animation: width 2s linear;
}

@keyframes width {
  0% {
    width: 0px;
  }

  100% {
    width: 250px;
  }
} 





/*background-image: url(");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */

