p {
  margin: 0;
}

/* IS THE CONTAINER FOR THE WHOLE WORKING SCREEN */ 
.main {
  height: 969px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("https://cdn.wallpapersafari.com/10/32/6RGWFa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


